{% load static %}
<html lang="en">
    <head>
        <title>My blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <!-- Плюсик и текст теперь в одном месте -->
            <h1><a href="/">My blog</a></h1>
            <div class="post-controls-header">
                <a href="{% url 'post_new' %}" class="btn-add-combined">
                    <span class="plus-icon">&#10010;</span> Добавить новый пост
                </a>
            </div>
        {% else %}
            <h1><a href="/">My blog</a></h1>
            <p style="font-size: 16px; color: #ffffff;">Посты могут оставлять только авторизованные пользователи</p>
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>