{% extends 'blog/base.html' %}
{% block content %}
    <h2 class="lobster-font">Каталог Amati-Line</h2>

    {% if user.is_authenticated %}
        <a href="{% url 'product_new' %}" class="btn-add-combined" style="color: #5d2e0a;">
            <span class="plus-icon">✚</span> Добавить товар в каталог
        </a>
    {% endif %}

    <div class="product-list">
        {% for product in products %}
            <div class="post">
                <h3>{{ product.name }} — <b>{{ product.price }} руб.</b></h3>
                <p>{{ product.description|linebreaksbr }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'product_remove' pk=product.pk %}" class="btn-delete" onclick="return confirm('Удалить товар?')">
                        <span>🗑</span> Удалить
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
